@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #FAFAFA;
}

/* Header */
header {
    height: 39px;
    width: 100%;
    background:#E64D4F;
}
.navbar {
    margin: 80px;
}
.navdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px;
    border-radius: 2rem;
    padding: 10px;
    background:#E64D4F;
    
}
.logo {
    font-family: "Modak";
    font-size: 40px;
    list-style: none;
}
.logo a {
    color: #FFFFFF;
}

ul{
    display: flex;
    justify-content: space-around;
    font-family: "Pridi";
    background: #E64D4F;
    list-style: none;

}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    color: #FFFFFF;
}