@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pridi", serif;
}

body {
    background: #FAFAFA;
}

/* Header */
.header {
    width: 300px;
    border: 10px solid rebeccapurples;
    background:#E64D4F;
}

